<div class="container">
  <div class="row">
    <div class="col-md-12">
    <div class="table-responsive">
      <div class="tag-serch"><%= render 'dogs/tag_serch' %></div>
      <%= render "dogs/dogs" ,dogs:@dogs %>
      <%= paginate @dogs %>
    </div>
    </div>
  </div>
</div>



