<input id="address" type="textbox" value="">
      <input type="button" value="検索" onclick="codeAddress()">
      <div id='map'></div>

      <style>
      #map {
        height: 600px;
        width: 600px;
      }
      </style>

      <script>
      let map
      function initMap(){
        geocoder = new google.maps.Geocoder()
        map = new google.maps.Map(document.getElementById('map'), {
          //latが緯度、lngが経度を示します
          center: {lat: 35.03997632172462, lng:135.6732135105777},
          //数値は0〜21まで指定できます。数値が大きいほど拡大されます
          zoom: 17,
        });
        //positionに指定した座標にピンを表示させます
        marker = new google.maps.Marker({
          position:  {lat: 35.03997632172462, lng:135.6732135105777},
          map: map
        });
      }

      let geocoder

      function codeAddress(){
        let inputAddress = document.getElementById('address').value;
        geocoder.geocode( { 'address': inputAddress}, function(results, status) {
          if (status == 'OK') {
            map.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location
            });
          } else {
            alert('該当する結果がありませんでした：' + status);
          }
        });
      }

      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBN7mnEkGpm_3LGZLG8cK9ZG8FBwZ83xyE&callback=initMap" async defer></script>