<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="dogrunmassage">北神戸の豊かな自然の仲にあるドッグラン！</h2>
      <h3>ドッグランだけではなく、食べ放題のフルーツ狩りやバーベキュー、花畑など様々なアミューズメントがあります！ぜひ、グーグルマップで周りを探検してみてください</h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13097.030212051575!2d135.18144732740606!3d34.849755295736045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000639c98927115%3A0xe7161d990ae24cca!2z6YGT44Gu6aeFIOelnuaIuOODleODq-ODvOODhOODu-ODleODqeODr-ODvOODkeODvOOCr-Wkp-ayog!5e0!3m2!1sja!2sjp!4v1633594882419!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>