<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="jquery.rwdImageMaps.min.js"></script>
      <h2>都道府県の名前をクリックすると、行きたいドッグランの都道府県のページが表示されます！</h2>
      
        <!--<img src="../assets/kansai_sozai.png" usemap="#image-map">-->
        <%##= image_tag asset_path("kansai_sozai.png" ,:usemap => "#image-map", alt: "") %>
        <%= image_tag asset_path("kansai_sozai.png", alt: "",usemap:"#image-map") %>

      <%= render "maps/imagemap" %>
      <%= render "maps/figure"%>
      <h2 class="mapmassage">気になるドッグランがあれば検索してみてください！</h2>
      <%= render "maps/maps" %>
    </div>
  </div>
</div>