<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="dogrunmassage">京都一美しいといわれる景色の嵐山にあるワン遊ランド</h2>   
      <h3>ドッグランだけではなく、バーベキューやフラワーガーデンなどがあります。ぜひ、グーグルマップで周りを探検してみてください</h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3266.6709146826274!2d135.67102441509286!3d35.03996178034874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6001aa28968e5cd1%3A0x8d1576ca6c801394!2z44Ov44Oz6YGK44Op44Oz44OJ!5e0!3m2!1sja!2sjp!4v1633594608023!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>