<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="dogrunmassage">ドッグカフェもあるドッグラン、銀木犀</h2>
      <h3>ドッグランとドッグカフェがあります！愛犬のワンちゃんとの時間を楽しく過ごしてください！ぜひ、グーグルマップで周りを探検してみてください</h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46759.67231136084!2d135.47893959281208!3d34.69579643002241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60014ba0b59cfcf5%3A0x9f211c5cc96be4e4!2z6YqA5pyo54qA!5e0!3m2!1sja!2sjp!4v1633595001927!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>