<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="dogrunmassage">大阪舞洲の市内最大級ドッグラン！</h2>
      <h3>ドッグランだけではなく、アスレチックやバーベキューなどがあります。ぜひ、グーグルマップで周りを探検してみてください</h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.490027559801!2d135.3958023150821!3d34.66757998044291!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e94ba0457a43%3A0xe4d3dd1560277b19!2z5aSn6Ziq6Iie5rSy44OJ44OD44Kw44Km44Kp44O844Kt44Oz44Kw!5e0!3m2!1sja!2sjp!4v1633594797464!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>