<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="dogrunmassage">ドッグカフェもあるドッグラン、ホリデーアフタヌーン</h2>
      <h3>ドッグランとドッグカフェがあります！また、バーベキュー施設もあります！愛犬との時間を楽しんでください！ぜひ、グーグルマップで周りを探検してみてください</h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13036.688750964751!2d135.9462204775756!3d35.227083463103625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6001993c386ab8dd%3A0xb7d03b355f4e502a!2z44Ob44Oq44OH44O844Ki44OV44K_44OM44O844OzIOODieODg-OCsOODqeODsw!5e0!3m2!1sja!2sjp!4v1633595061694!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>