<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="dogrunmassage">飼い主同士、交流を深めれるドッグランRin</h2>
      <h3>ドッグランRinでは里親も募集しています。気になる方はぜひ見に行ってください！、グーグルマップで周りを探検してみてください</h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3316.8946282639604!2d135.46298761505665!3d33.763388680685594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6007a8171f6b05db%3A0x2771339d6e9c0423!2z44OJ44OD44Kw44Op44OzUmlu!5e0!3m2!1sja!2sjp!4v1633595295646!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>