<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h2>フォロー</h2>
        <table class="table">  
          <% if @users.exists? %>
            <thead>
              <tr>
                <th><p>ユーザー名</p></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td>
                    <%= attachment_image_tag @user, :profile_image, format: "jpeg", fallback: "no_image.jpg", size: "80x80" %>
                  </td>
                  <td><%= user.name %></td>
                  <td>フォロー数: <%= user.followings.count %></td>
                  <td>フォロワー数: <%= user.followers.count %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <% else %>
            <p>ユーザーはいません</p>
          <% end %>
        </table>    
    </div>
  </div>
</div>