.textarea1{
  margin-top:50px;
  width:100%;
  height:300px;
  border-radius: 10px;
}

.btn-question{
  width:100%;
}

.qbox{
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #2c2c2f;
  background: #ffe1e1;
  border-radius: 10px;
}

.tag-serch{
  margin-top:30px;
  margin-bottom: 30px;
}

select{
  border-radius: 10px;
}

.fa-dog{
  color:red
}

fa-bone

